# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDE/editor configs
.vscode
.idea
.DS_Store

# Test coverage and debug files
coverage
.nyc_output

# Docker-related files (optional, if not needed in build context)
.dockerignore
Dockerfile

# Documentation (optional)
README.md